<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>AnimePoll</title>
  </head>
  <body>
    {% include "polls/navbar.html" %}
    <div class="container">
      <div class="row">
        <div class="col-md-5 m-auto">
          {% block content %}
            replace me
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
