{% extends "polls/base.html" %}

{% block content %}
<h3 class="text-center mb-3" >AnimePoll Questions</h3>
{% comment %} {% if latest_question_list %} {% endcomment %}
{% for question in latest_question_list %}
<div class="card border-secondary mb-3 text-center">
  <div class="card-body p-1 ">
    <p class="card-text">{{ question.question_text }}</p>
    <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm"> Vote Now!</a>
    <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm"> Go to Results!</a>
  </div>
</div>
{% endfor %}
</ul>
{% comment %} {% else %}
<p>No polls are available</p>
{% endif %} {% endcomment %}
{% endblock %}
